.body {
    background-color: #2d253a;
}

.chat-container {
    max-width: 10000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #282135;
    border-radius: 5px;
    background-color: #2d253a;
  }
  
  .chat-messages {
    height: 300px;
  overflow-y: scroll;
    margin-bottom: 20px;
  }
  
  .message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .user-message .message-content {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
  }
  
  .chatbot-message .message-content {
    background-color: #e2f4ff;
    border-radius: 10px;
    padding: 10px;
  }
  
  .chat-input {
    display: flex;
  }
  
  .chat-input input[type='text'] {
    flex-grow: 1;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 5px;
  }
  
  .chat-input button {
    border: none;
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  